html, body {margin: 0; height: 100%; overflow: hidden;
  -webkit-font-smoothing: subpixel-antialiased;

}

body{
	background-color: #7575ff;
	color: white;
	font-size: 87.5%; /*base font size is 14px*/
	font-family: Arial,'Lucida San Unicode';
	line-height: 1.5;
	text-align: center;

}

p{
  text-align: center;
  font-size: 100%;
}

p2{
	float: left;
  top: 2%;
}


h2{
  text-align: center;
  font-size: 100%;
    color: black;
}

input[type=radio] {
  margin:0;
    width: 5%;
    height: 3%;
    padding-bottom: 5%;
    align-items: center;

}

p{
  align-items: center;
    color: black;

}


#qButton{
  font-size: 100%;
  width: 50%;
  height: 25%;
}

h1{
  color: black;
  background-color: #0000FF;
}

button{
  width:80%;
  padding-bottom: 5%;

}


Header{
    width: 100%;
    height: 5%;
    float: left;
    /*border-radius: 10%;*/
    /*-moz-border-radius: 10%;*/
    /*-webkit-border-radius: 10%;*/
    background-color: #0000FF;
    margin:  0;
}
