html, body {margin: 0; width: 100%; height: 90%;
	-webkit-font-smoothing: subpixel-antialiased;
	position: fixed;

}
.container-fluid{
	background-color: white;
}

body{

	color: white;
	font-size: 87.5%; /*base font size is 14px*/
	font-family: Arial,'Lucida San Unicode';
	line-height: 1.5;
	text-align: center;

}
.scroll{
	overflow-y: scroll;
	width: 20%;
	height: 40px;
	background-color: aqua;
}
.wrap{
    background-color: white;
    width: 80%;
	height: 30em;
	float: left;
	/*border: solid rgba(14,14,14,0.96);*/
	/*box-shadow: 10px 10px 5px grey;*/
    overflow-y: scroll;
}

.mainContent{
  padding-top: 10%;
  padding-left: 20%;


}

h1{
  color: black;
  background-color: #0000FF;
	width: 80%;
    box-shadow: 10px 10px 5px grey;

}
h{
    text-decoration: underline;
}
button{
  width:80%;
	height: 20%;
  padding-bottom: 5%;
	font-size: 10pt;
    margin-top: 5%;
}
p1{
	float:  none;
}
p2{
	float: left;
}

.content{
	background-color: white;
	color: black;
	width: 90%;
	height: 100%;
	overflow: scroll;
	margin: 0 auto;

}

Footer{
	width: 100%;
	height: 5%;
	float: left;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background-color: #0000FF;
	margin:  0;
  position: fixed;
  bottom: 0;
}

Header{
  width: 100%;
	height: 5%;
	float: left;
	/*border-radius: 10%;*/
	/*-moz-border-radius: 10%;*/
	/*-webkit-border-radius: 10%;*/
	background-color: #0000FF;
	margin:  0;
}

.question{
	background-color: blue;
	font-size: 30px;
	color: white;
	text-align: justify;
}


#info{
	/*right: 2.5%;*/
	top: 10%;
	position: absolute;
color: white;
	width:100%;
	height: 90%;
	font-size:1.2em;
	overflow-y: scroll;
	background-color:black;
	z-index:0;
	opacity:0.6;
}

#reset{
	color:red;
	padding: 5%;
	text-decoration: underline;
	font-style: oblique;
}
#game{
	float: right;
}